{
    "task": {
        "name": {{ name|tojson }},
        "args": {{ args|tojson }}
    },
    "input": {
        "root": {{ in_path|tojson }}
    },
    "output": {
        "root": {{ out_path|tojson }}
    }
}

